player-connection-mode=Listen
player-connection-guid=3214960475
player-connection-debug=0
player-connection-project-name=CS50 Final Project Bird Patrol
player-connection-ip=192.168.0.2
player-connection-ip=192.168.137.1
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
